- content_for :hero do
  = render "/2014/hero-page"

- content_for :page_name, "議程"

.section.agenda
  = render "training"
  = render "ent_day1"
  = render "ent_day2"

  .hidden-note
    = render "hidden-training-note"
